/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.navbar {
  margin-bottom: 0px;
  background-color: #44BBFF;
  color: white;
  border-radius: 0px;
  box-shadow: 5px 5px 5px #D4D4D4;
}

.nav-user-info{
  color: white;
  margin-top: 15px;
  margin-right: 10px;
}

.title{
  color: white;
  margin-left: 10px;
  font-size: 25px;
  margin-top: 5px;
}

.title:hover{
  text-decoration: none;
  color: white;
}

.adtl-login-actions {
  margin-left: -15px;
}

.submit-btn {
  background-color: #44BBFF;
  color: white;
}

.submit-btn-sign-up {
  margin-top: 8px;
  background-color: #44BBFF;
  color: white;
}

.btn-default:hover {
    background-color: white;
    color: black;
}

#error_explanation h2 {
  text-align: left;
  font-size: 17px;
}

#error_explanation ul li {
  list-style-type: circle;
  text-align: left;
  margin-left: -15px;
}
