// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.to-do-list-items {
  list-style: none;
  border: 1px #44BBFF solid;
  border-radius: 4px;
  font-family: "Open Sans";
  padding: 10px;
  background-color: #FEFEFA;
  margin: 0px;
}

.list {
  padding-left: 0px;
}

.add-item-btn {
  float: right;
  padding-bottom: 10px;
}

.inline-form{
  overflow: hidden;
  padding-right: .5em;
}

.add-item {
  width: 100%;
  margin-top: .6em;
}

.complete-icon {
  float: right;
  margin-right: 4px;
  margin-top: 1px;
  color: #27ae60;
}
